# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=quests
POSTGRES_PORT=5432

# Minecraft Server
MINECRAFT_VERSION=1.21.11
MINECRAFT_MEMORY=2G
MINECRAFT_OPS=LupusHex
MINECRAFT_PORT=25565

# ML Service
ML_SERVICE_PORT=8000
