/data/
/minecraft/

*.log
*.pyc
__pycache__/

ml-service/__pycache__/
ml-service/.venv/
ml-service/*.egg-info/
ml-service/logs/

Plugin/.gradle/
Plugin/build/
Plugin/bin/
Plugin/*.jar
!Plugin/libs/*.jar
Plugin/.gradletasknamecache
Plugin/gradle-app.setting

.vscode/
.idea/
*.iml

.env