/data/postgres/
/data/minecraft/world/
/data/minecraft/plugins/*.jar 
minecraft/plugins/.paper-remapped/
minecraft/plugins/spark/tmp-client/
minecraft/plugins/bStats/


*.log
*.pyc
__pycache__/

ml-service/__pycache__/
ml-service/.venv/
ml-service/*.egg-info/

.vscode/
.idea/
*.iml

.env
